header {
    background-color: #EC715F;
}

.header {
    height: 70px;
    width: 1024px;
    color: honeydew;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.header > :first-child {
    margin-right: auto;
}

.header-logo img {
    height: 100%;
}

.header-contents ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-contents li {
    font-size: 16px;
    color: #FAFAFA;
    margin: auto 30px;
    
}

main {
    height: 500px;
    background-color: hotpink;
}

.main-viual {
    background-image: url(img/mv.png);
    height: 650px;
    text-align: center;
    color: #FAFAFA;
}

.main-viual h1 {
    font-size: 64px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 10px;
}

.main-viual p {
    font-size: 20px;
}

.portfolio {
    background-color: #ECEFF1;
    padding: 90px;
    display: block;
    text-align: center;
}

.portfolio-contents {
    width: 920px;
    
}

.image-contents {
    display: flex;
    flex-wrap: wrap;
}

.image-contents img {
    width: 300px;
    height: 250px;
    margin-block-end: 10px;
    display: flex;
    flex-wrap: wrap;
}


footer {
    /* height: 200px;
    background-color: lightcoral; */
}