header {
    background-color: #EC715F;
}

.header {
    height: 70px;
    width: 1024px;
    color: honeydew;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.header > :first-child {
    margin-right: auto;
}

.header-logo img {
    height: 100%;
}

.header-contents ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header-contents li {
    font-size: 16px;
    color: #FAFAFA;
    margin: auto 30px;
    
}

main {

}

.main-viual {
    background-image: url(img/mv.png);
    height: 650px;
    text-align: center;
    color: #FAFAFA;
}

.main-viual h1 {
    font-size: 64px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 10px;
}

.main-viual p {
    font-size: 20px;
}

.portfolio {
    background-color: #ECEFF1;
    padding: 90px;
    display: block;
    text-align: center;
}

.portfolio-contents {
    width: 920px;
    margin: 0 auto;
}

.portfolio-contents h2 {
    font-size: 32px;
    color: #000000;
}

.portfolio-contents h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.portfolio-contents p {
    font-size: 16px;
    color: #000000;
    padding: 30px 0;
}

.image-contents {
    display: flex;
    flex-wrap: wrap;
}

.image-contents img {
    width: 300px;
    height: 250px;
    margin-block-end: 10px;
}

.image-contents img:nth-child(2){
    padding: 0 10px;
}

.image-contents img:nth-child(5){
    padding: 0 10px;
}

.feature {
    margin: 0 auto;
    width: 980px;
    text-align: center;
    padding: 90px;
}
.feature h2 {
    font-size: 32px;
    color: #000000;
}

.feature p {
    padding: 30px;
}

.feature h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.strength-contents {
    display: flex;
}

.strength h3 {
    font-size: 20px;
    color: #000000;
    padding: 10px;
}

.strength-contents i {
    font-size: 60px;
}

.strength-contents p {
    text-align: left;
    padding: 16px;
    font-size: 16px;
}


.strength2 {
    padding: 0 10px;
}


footer {
}


